.button {
  border: 1px solid white;
  background-color: blue;
  color: white;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: goldenrod;
}

.container {
  border: 1px solid black;
  margin-top: 2rem;
  padding: 1rem;
}

.buttonClicked {
  background-color: goldenrod;
}